html
  head
    title #{symbol}@#{exchange}
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/dashboard.css", rel="stylesheet")

    script(type='text/javascript').
      var symbol = "#{symbol}",
          exchange = "#{exchange}";

      console.log("symbol", symbol, "exchange", exchange);

  div(class=["navbar", "navbar-inverse", "navbar-fixed-top"], role="navigation")
    div(class="container-fluid")
      div(class="navbar-header")
        a(class="navbar-brand", href="#") #{symbol}@#{exchange} <span style="font-size: small;">(Pricetracker v0.4.1)</span>
